// Core variables and mixins
@import "variables";
$enable-flex: true;

@import "mixins";

// Reset and dependencies
@import "normalize";
@import "print";

// Core CSS
@import "reboot";
@import "type";
@import "images";
@import "grid";

@import "list-group";

body {
    @extend .container;
    font-family: serif;
}

header { align-items: flex-end; }

header, body > div
{ @extend .row; }

address {
    bottom: 0px;
    margin-bottom: 0px;
    h1 { font-variant: small-caps; }
    h1 {
        text-transform: uppercase;
        font-size: 38px;
    }
}

address { text-align: center; }
@include media-breakpoint-up(md) {
    .row div:first-child, address { text-align: right; }
}

.row {
    padding-bottom: 10px;
}

figure {
    margin: 0px;
    position: relative;
}
figure img { @extend .img-fluid; }

figure figcaption {
    position: absolute;
    padding: 5px;
    font-family: serif;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
    top: -5px;
}

figure             figcaption { left: 20px; }
figure:first-child figcaption { right: 20px; left: auto; }

.title-bottom figcaption { bottom: 0px; top: auto; }
